.slider .thumb {
    width: 24px;
    height: 24px;
    cursor: grab;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #275efe;
    top: -12px;
   
}

.slider .track {
    height: 2px;
}

.track-0 {
    background: grey;
}

.track-1 {
    background-color:#275efe;
}

.track-2 {
    background: grey;
}